@font-face {
    font-family: 'nk170regular';
    src: url('../fonts/18875-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'nk170regular';
    font-size: 16px;
  }
  
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  *::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .header-top {
    background-color: black;
  }
  
  .header-top_phone {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  
  .header-top_phone a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;
  }
  
  .header-top_address {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    display: block;
    float: right;
    font-weight: 500;
    margin-top: 5px;
    margin-right: 20px;
    color: white;
  }
  
  .header-bottom {
    background-color: whitesmoke;
    text-align: center;
  }
  
  .header-bottom_logo img {
    margin-top: 15px;
    width: 120px;
    background-size: cover;
  }
  
  .header-bottom_title {
    font-size: 40px;
    font-weight: 900;
  }
  
  .menu-list {
    background: black;
  }
  
  .menu-list,
  .menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list > li {
    float: left;
    position: relative;
    text-align: justify;
  }
  
  .menu-list ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: black;
    z-index: 1;
    opacity: 0.7;
  }
  
  .menu-list a {
    display: block;
    padding: 10px 15px 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .menu-list > li:hover ul {
    display: block;
  }
  
  .menu-list > li:hover {
    background-color: red;
  }
  
  .menu-list > li:nth-child(3) ul li:hover{
    background-color: red;
  }

  .section1 {
    width: 300px;
    background-color: whitesmoke;
    float: left;
  }
  
  .section1,
  .section2,
  .footer{
    margin-top: 5px;
  }
  
  .section2 {
    width: 720px;
    display: inline-block;
    text-align: justify;
  }
  
  .section-news {
    width: 300px;
  }
  
  .section-news_item1_image{
    background-image: url(../img/news1.jpeg);
  }
  .section-news_item2_image{
    background-image: url(../img/news2.jpg);
  }
  .section-news_item3_image{
    background-image: url(../img/news3.jpg);
  } 
  .section-news_item1_image,
  .section-news_item2_image,
  .section-news_item3_image{
    width: 100px;
    height: 100px;
    margin-right: 2px;
    background-size: cover;
    background-position: center;
    float: left;
    display: inline;
  }
   
  .section-news_item_title {
    display: inline;
    margin: 0;
  }
  
  .section-news_item1_description,
  .section-news_item2_description,
  .section-news_item3_description {
    text-align: justify;
  }
  
  .main-news_img {
    width: 600px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .main-news {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
  }
  
  .main-news_text {
    padding: 0 10px 10px 10px;
  }
  
  .footer-info {
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
  }
  